.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.hidden{
  display: none;
}

.text-left{
  text-align: left;
}

.small-image{
  height: 3em;
  margin-right: 10px;
}

.text-image{
  display: flex;
  align-items: end;
  margin-bottom: 20px;
}